$_qrcode_size: 35vw !important;
$_qrcode_max_size: 250px !important;
$_vertical_padding: 0.25em;

table.funding-status {
  .balance {
    text-align: right;
  }

  .network span {
    margin-left: 0.5rem;
    &::after {
      content: "/";
      margin-left: 0.5rem;
    }
    &:last-child {
      &::after {
        content: "";
        margin-left: 0;
      }
    }
  }

  th.name, td.name {
    text-align: left;
  }
}

ul.deposit-tracker {
  padding-left: 0;
}

div.payment-request, form[name='transfer'] {
  div.button-bar {
    text-align: center;
  }
}

div.payment-route {
  display: grid;

  canvas.qr-code {
    display: block;
    margin: auto;
    width: $_qrcode_size;
    height: $_qrcode_size;
    max-width: $_qrcode_max_size;
    max-height: $_qrcode_max_size;
  }

  div.qr-code-display > span {
    display: none;
  }

  dl {
    dt {

    }
    dd {
      margin-inline-start: 0;
      margin-bottom: 0.5em;
      padding: 1vh 0.75rem;
      border: 1px solid #DDD;
      border-radius: 4px;

      span.clipboard-copier {
        text-overflow: clip;
        cursor: pointer;

        @include icon-after("layers");
        &::after {
          text-align: right;
        }
      }
    }
  }

  .blockchain-route-countdown {
    $line-height: 2em;
    grid-area: routing-timer;

      display: grid;
      grid-template-areas: 'spinner .'
                           'spinner status'
                           'spinner .';
      grid-template-columns: $line-height auto;
      margin-top: 2 * $_vertical_padding;
      padding: $_vertical_padding 0;

      span.status-message {
        grid-area: status;
        margin-left: 1rem;
      }

      .blockchain-route-countdown-circle {
        grid-area: spinner;
        width: $line-height;
        height: $line-height;

        circle {
          stroke: transparent;
        }

        path {
          @keyframes dash {
            50% {
              stroke-dasharray: 90, 150;
              stroke-dashoffset: -35;
            }
            100% {
              transform: rotate(360deg);
              stroke-dashoffset: 0;
            }
          }

          animation: dash 2s ease-in-out infinite;
        }

        span.label {
          display: none;
        }
      }
  }

  div.blockchain-timer {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  button.payment-route-display-toggle {
    display: block;
    width: 100%;
  }

  div.web3-wallet-display {

    &::before {
      content: "or";
      display: block;
      padding: 1vh 0;
      text-align: center;
    }

    > span, div.amount-selector {
        display: none;
    }

    div.web3-transfer {
      text-align: left;
      width: 100%;
      margin: 1vh auto;

      button {
        display: block;
        width: 100%;
        margin: 1vh auto;
      }
    }
  }

  div.payment-route-details {
    margin: 1vh auto;
    > span {
      display: block;
      text-align: start;
    }
  }
}

div.payments {
  margin-top: 2vh;
  text-align: start;

  ul {
    padding-inline-start: 0;

    li {
      align-items: center;
      vertical-align: middle;

      &.confirmed {
        @include icon-before("check")
      }

      &:not(.confirmed) {
        @include icon-before("reload")
      }

      span.identifier {
        float: right;
        display: inline-block;
        max-width: 8rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }
}
