$_qrcode_size: 35vw !important;
$_qrcode_max_size: 250px !important;

table.funding-status {
  .balance, .price {
    text-align: right;
  }

  th.name, td.name {
    text-align: left;
  }
}

div.payment-request, form[name='transfer'] {
  div.button-bar {
    text-align: center;
  }
}

div.payment-request {
  canvas.qr-code {
    text-align: center;
  }

  div.payment-route {
    &:not(.selected) {
      display: none;
    }

    &.selected {
      display: block;
    }

  }

  div.blockchain-timer {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  dl {
    dt {

    }
    dd {
      margin-inline-start: 0;
      margin-bottom: 0.5em;
      padding: 1vh 0.75rem;
      border: 1px solid #DDD;
      border-radius: 4px;

      span.clipboard-copier {
        text-overflow: clip;
        cursor: pointer;

        @include icon-after("layers");
        &::after {
          text-align: right;
        }
      }
    }
  }

  canvas.qr-code {
    display: block;
    margin: auto;
    width: $_qrcode_size;
    height: $_qrcode_size;
    max-width: $_qrcode_max_size;
    max-height: $_qrcode_max_size;
  }

  div.web3-transfer {
    text-align: left;
    width: 100%;
    margin: 1vh auto;

    div.amount-selector {
      > span {
        display: block;
      }
      input {
        padding: 1em 0.5rem;
        width: 100%;
        display: block;
      }
    }

    button {
      display: block;
      width: 100%;
      margin: 1vh auto;
    }
  }

  div.payment-route-details {
    margin: 1vh auto;
    > span {
      display: block;
      text-align: start;
    }
  }

  div.payments {
    margin-top: 2vh;
    text-align: start;

    ul {
      padding-inline-start: 0;

      li {
        align-items: center;
        vertical-align: middle;

        &.confirmed {
          @include icon-before("check")
        }

        &:not(.confirmed) {
          @include icon-before("reload")
        }

        span.identifier {
          float: right;
          display: inline-block;
          max-width: 8rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }
    }
  }
}
