$light-color: #777;
$token-size: 48px;
$token-padding: 8px;


@mixin token-data-cell() {
  display: grid;
  grid-template-areas: 'token-logo token-name'
                       'token-logo token-symbol';
  grid-template-columns: ($token-size + 8px) auto;

  img.token-logo {
    max-width: $token-size;
    max-height: $token-size;
    padding-right: $token-padding;
    grid-area: token-logo;
  }

  .token-name {
    grid-area: token-name;
    font-size: 14px;
    font-weight: bold;
  }
  .token-symbol {
    grid-area: token-symbol;
    font-size: 12px;
    color: $light-color;
  }
}

table.tokens {
  thead {
    text-transform: uppercase;
    th {
      text-align: left;
      &.token-data {
        padding-left: ($token-size + $token-padding + 15px) !important;
      }
    }
  }
  tr {
    td {
      text-align: left;
    }
    td.token-data {
      @include token-data-cell();
    }
  }
}

table.token-list {
  td.tokenlist-tokens {
    max-width: 200px;
    li {
      display: inline
    }
  }

  a {
    @include button($info-color, $info-states-color, $font-size: $font-size-small);
  }

}

ul.search-token-results {
  li.token-search-result {
    @include token-data-cell();
    grid-template-areas: 'token-logo token-name chain-name watchlist-switch'
                         'token-logo token-symbol . .';
    grid-template-columns: ($token-size + $token-padding) 250px auto 50px;
    .chain-name {
      grid-area: chain-name;
    }

    input[name=token-watchlist] {
      grid-area: watchlist-switch;
    }
  }
}
