#overview {
  @include make-container();

  ul.token-balances {
    @include make-row();

    list-style-type: none;
    list-style-position: inside;
    padding-inline-start: 0;

    li {
      padding-right: 1rem;

      @include for-size(phone-only) {
        @include make-col(12, 12);
      }

      @include for-size(tablet-portrait-and-up) {
        @include make-col(6, 12);
      }

      @include for-size(tablet-landscape-and-up) {
        @include make-col(4, 12);
      }

      @include for-size(desktop-and-up) {
        @include make-col(3, 12);
      }

      @include for-size(wide-desktop) {
        @include make-col(2, 12);
      }


      div.card {
        @include horizontal-card();

        .card-image {
          img {
            max-height: 80px;
            max-width: 80px;
            padding-left: 1rem;
            justify-self: center;
          }
        }

        .card-header, .card-body {
          text-align: right;
        }
      }
    }
  }
}
